@import '../../theme/theme-colors.scss';

.header-root {
  a {
    font-family: 'Pacifico', cursive;
    color: $primary-color;
    text-decoration: none;
    text-shadow: 0px 0px 20px #00bcd4;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
}
