@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: local('Roboto Thin Italic'), local('Roboto-Thin-Italic'),
    url('../assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: local('Roboto Light Italic'), local('Roboto-Light-Italic'),
    url('../assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: local('Roboto Regular Italic'), local('Roboto-Regular-Italic'),
    url('../assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: local('Roboto Medium Italic'), local('Roboto-Regular-Italic'),
    url('../assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: local('Roboto Bold Italic'), local('Roboto-Bold-Italic'),
    url('../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 900;
  font-style: italic;
  src: local('Roboto Black Italic'), local('Roboto-Black-Italic'),
    url('../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  font-display: swap;
  font-weight: normal;
  src: local('Pacifico'),
    url('../assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
